<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="UmlIdentity" level="trace" />
    <logger name="generateOWL" level="trace" />
    <logger name="parseClasses" level="trace" />
    <logger name="org.uml2owl.OWLWriter" level="trace" />
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>