<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>

    <!-- org.uml2semantics.Main.scala -->
    <logger name="org.uml2semantics.Main" level="debug" />

    <!-- org.uml2semantics.TsvReader.scala -->
    <logger name="parseClasses" level="trace" />
    <logger name="parseAttributes" level="trace" />

    <!-- org.uml2semantics.model.UmlClassDiagram.scala -->
    <logger name="org.uml2semantics.model.UmlClassCurie" level="error" />
    <logger name="org.uml2semantics.model.UmlClassAttributeName" level="error" />
    <logger name="org.uml2semantics.model.UmlClassAttributeCurie" level="error" />
    <logger name="org.uml2semantics.model.UmlClassParentIds" level="error" />
    <logger name="org.uml2semantics.model.UmlClassAttributeIdentity" level="error" />
    <logger name="org.uml2semantics.model.UmlClassParentIds" level="error" />
    <logger name="org.uml2semantics.model.UmlClassIRI" level="error" />
    <logger name="org.uml2semantics.model.UmlClassAttributeIRI" level="error" />
    <logger name="org.uml2semantics.model.UmlCardinality" level="error" />
    <logger name="org.uml2semantics.model.UmlMultiplicity" level="error" />
    <logger name="org.uml2semantics.model.UmlClassIdentity" level="error" />
    <logger name="org.uml2semantics.model.UmlClassAttributeType" level="error" />
    <logger name="org.uml2semantics.model.UmlClassDiagram" level="error" />

    <!-- org.uml2semantics.model.XMLDataType.scala -->
    <logger name="org.uml2semantics.model.XMLDataType" level="error" />

    <!-- org.uml2semantics.model.PrefixNamespace.scala -->
    <logger name="org.uml2semantics.model.PrefixNamespace" level="error" />
    <logger name="org.uml2semantics.model.Curie" level="error" />


    <!-- org.uml2semantics.model.owl.UmlToOWLWriter.scala -->
    <logger name="org.uml2semantics.owl.UmlToOWLWriter" level="error" />

<!--    <logger name="org.uml2semantics.model." level="debug" />-->

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>